body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-div{
  grid-area: content;
  /* height: 100%;
  width: 100%; */
  padding-top: 2rem;
  overflow-y: scroll;
}
.full-screen{
  height: 100vh;
  width: 100vw;
}

.flex{
  display: flex;
}
.inline-block{
  display: inline-block;
}

/* ********** Text ******** */

.health-text, .food-text {
  color: white;
}

.shelter-text, .services-text{
  color: black;
}

.gray-l{
  color: black;
  background-color: #e2f1f8;
}

.gray{
  color: black;
  background-color: #b0bec5;
}

.gray-d{
  color: black;
  background-color: #808e95;
}

.white-l{
  color: black;
  background-color: #fff;
}

.white{
  color: black;
  background-color: #eee;
}

.white-d{
  color: black;
  background-color: #bcbcbc;
}





/* ********* Icon Styles ******** */


  /* note: color for svg text fields is a fill property */
.icon-text{
  font-size: 1rem;            
}
.health-icon-text, .food-icon-text{
  fill: white;
}

.shelter-icon-text, .services-icon-text{
  fill: black;
}


/* Primary colors */
.services-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#ffc107; 
}

.health-icon{
  stroke: #000;
  fill:#4527a0; 
}

.food-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#2e7d32; 
}
.shelter-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#00bcd4; 
}

/* Secondary Color */
.services-2{
  background-color: #008ba3;
  fill: #008ba3;
}

.health-2{
  background-color: #000070;
  fill: #000070;
}

.food-2{
  background-color: #005005;
  fill: #005005;
}

.shelter-2{
  background-color: #c79100;
  fill: #c79100;
}


/* Highlight color */

.services-l{
  background-color: #fff350;
}

.health-l{
  background-color: #7953d2;
}

.food-l{
  background-color: #60ad5e;
}

.shelter-l{
  background-color: #62efff;
}

/* ********* Home Page ********** */
.hp-title{
  text-align: center;
  padding-top: 2rem;
  font-weight: 800;
  font-size: 180%;
  color: white; 
}
.hp-mm-instructions{
  text-align: center;
  /* padding-top: 2rem; */
  font-weight: 800;
  font-size: 140%;
  color: white;  
}
.mm-div{
 padding: 2em;
 max-width: 620px;
 max-height: 400px;
 margin-left: auto;
 margin-right:auto;
}
.hp-instructions{
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  font-weight: 800;
  font-size: 110%;
  color: white;
}
/* ******** Content Containers */
.container{
  height: 100vh;
  display:grid;
  grid-template-rows:  9fr 1fr;
  grid-template-areas: "content" "navBar";
}
/* ******** Bottom NavBar ******** */

.nav-bar{
  grid-area: navBar;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .5rem;
  grid-template-areas: "mainMenu subMenu";

}

.nav-bar-main{
grid-area: mainMenu;
margin-left: auto;
margin-right: auto;
width: 60%;
height: auto;
}

.nav-bar-sub{
grid-area:subMenu;
margin-left: auto;
margin-right: auto;
width: 60%;
height: auto;
}

#map-div{
  position: relative;
  height: 50vh;
}
.menu-text{
  color: blue;
}

.restrict-size{
  height:100%;
  width: 100%;
}
.description{
  padding: .2rem;
  text-align: center;
  font-size: 90%;
  font-weight: 500;
}

/* ******Map Menu Style ******* */
.ui.tabular.menu .item{
  font-size: 80%;
  color:white;
}
.ui.tabular.menu .active.item{
  color: black;
  font-size: 90%;
}

/* ******Service Menu Style ******* */
.li-wrapper{
  border-bottom: solid .1rem black;
  padding: .2rem;
  margin-top:.2rem;
}
.li-wrapper a{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "content arrow"

}
.li-info{
  grid-area: content;
}
.li-name{
  font-size: 110%;
}
.li-address{
  grid-area: content;
  font-size:90%;
}
#arrow{
  grid-area: arrow;
  justify-self: end;
  align-self: center;
  font-size: 150%;
}
/* ******Food Menu Style ******* */
.f-detail-wrapper{
  padding-left: 1rem;
  margin-bottom: .8rem;
}
.f-detail-title{
  margin-bottom: .5rem;
}
.space-left{
  margin-left: .3rem;
}
.bold{
  font-weight: bold;
}

/* ******Health Menu Style ******* */
.mh-item-detail{
  padding: .5rem;
  padding-left: 1rem;
}
.mh-access-phone{
  text-align: center;
  font-size: 110%;
}
.mh-access-phone a{
  padding-left: 1rem;
}
.name{
  font-size: 150%;
  margin-bottom: .4rem;
  padding-left: .3rem;
}
.address{
margin: .3rem;
margin-bottom: 1rem;
}
.web-site{

}
.phone-1{

}
#map-div{
  margin: .3rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.health-menu{
  margin-top: 1rem;
}
/* ******Shelter Menu Style ******* */


.svg-wrapper{
  display: inline-block;
	position: relative;
  width: 100%;

	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content{
  display: inline-block;
	position: absolute;
	top: 0;
  left: 0;
}