body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-div{
  height: 100vh;
  width: 100%;
  
}

.flex{
  display: flex;
}
.inline-block{
  display: inline-block;
}

/* ********** Text ******** */

.health-text, .food-text {
  color: white;
}

.shelter-text, .services-text{
  color: black;
}

.gray-l{
  color: black;
  background-color: #e2f1f8;
}

.gray{
  color: black;
  background-color: #b0bec5;
}

.gray-d{
  color: black;
  background-color: #808e95;
}

.white-l{
  color: black;
  background-color: #fff;
}

.white{
  color: black;
  background-color: #eee;
}

.white-d{
  color: black;
  background-color: #bcbcbc;
}

/* ************* Health Menu Style ********** */



/* ********* Icon Styles ******** */


  /* note: color for svg text fields is a fill property */
.icon-text{
  font-size: 1rem;            
}
.health-icon-text, .food-icon-text{
  fill: white;
}

.shelter-icon-text, .services-icon-text{
  fill: black;
}


/* Primary colors */
.services-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#ffc107; 
}

.health-icon{
  stroke: #000;
  fill:#4527a0; 
}

.food-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#2e7d32; 
}
.shelter-icon{
  stroke: #000;
  stroke-width : .080rem;
  fill:#00bcd4; 
}

/* Secondary Color */
.services-2{
  background-color: #008ba3;
  fill: #008ba3;
}

.health-2{
  background-color: #000070;
  fill: #000070;
}

.food-2{
  background-color: #005005;
  fill: #005005;
}

.shelter-2{
  background-color: #c79100;
  fill: #c79100;
}


/* Highlight color */

.services-l{
  background-color: #fff350;
}

.health-l{
  background-color: #7953d2;
}

.food-l{
  background-color: #60ad5e;
}

.shelter-l{
  background-color: #62efff;
}

/* ********* Home Page ********** */
.hp-title{
  text-align: center;
  padding-top: 2rem;
  font-weight: 800;
  font-size: 180%;
  color: white; 
}
.hp-mm-instructions{
  text-align: center;
  /* padding-top: 2rem; */
  font-weight: 800;
  font-size: 140%;
  color: white;  
}
.mm-div{
 padding: 2em;
 max-width: 620px;
 margin-left: auto;
 margin-right:auto;
}
.hp-instructions{
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  font-weight: 800;
  font-size: 110%;
  color: white;
}
/* ******** Bottom NavBar ******** */

.nav-bar{
height: 12vh;
 
}

.nav-bar-main{

}

.nav-bar-sub{

}

#map-div{
  position: relative;
  height: 50vh;
}
.menu-text{
  color: blue;
}

